:root {
  --lm-bg: #f6f8ff;
  --lm-bg-content: #fefefe;
  --lm-text: #4b6a9b;
  --lm-text-alt: #2b3442;
  --lm-shadow: 0px 16px 30px -10px rgba(70, 96, 187, 0.2);
  --lm-shadow-inactive: 0px 16px 30px -10px rgba(0, 0, 0, 0.2);
  --lm-icon-bg: brightness(100%);
  /* Btn */
  --btn: #0079ff;
  --btn-hover: #60abff;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
  overflow-x: hidden;
}

body {
  background-color: var(--lm-bg);
  font-size: 13px;
  color: var(--lm-text);
  width: 100%;
  position: relative;
  height: 100vh;
}

.container {
  width: 720px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 8%;
  left: 25%;
  /* transform: translate(-50%, -50%); */
  gap: 36px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.btn-mode {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 90px;
  letter-spacing: 2.5px;
  font-weight: bold;
  color: var(--lm-text);
}



.app {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.search-form-container {
  display: flex;
  position: relative;
  /* to add search icon */
  background-color: var(--lm-bg-content);
  border-radius: 15px;
  box-shadow: var(--lm-shadow);
  height: 70px;
  padding: 6px;
  justify-content: space-between;
  align-items: center;
  background-image: url('./images/search-icon.svg');
  background-repeat: no-repeat;
  background-position-x: 24px;
  background-position-y: 23px;
  background-size: 20px;

}

.searchBox {
  border: none;
  width: 70%;
  outline: none;
  background: none;
  color: var(--lm-text);
  padding-left: 50px;
  font-size: 18px;

}

.searchBox::placeholder {
  letter-spacing: -0.5px;
  font-size: 18px;

}

.search-form-container .btn {
  min-width: 115px;
  padding: 12px 16px;
  background-color: var(--btn);
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;

}

.search-form-container .btn:hover {
  background-color: var(--btn-hover);
  cursor: pointer;
}


.profile-container {
  background-color: var(--lm-bg-content);
  border-radius: 15px;
  box-shadow: var(--lm-shadow);
  padding: 34px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 24px;
}

.profile-header {
  display: flex;
  gap: 40px;
  margin-bottom: 10px;
}

.adjustdata {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
  width: 100%;
  /* gap:150px; */
  /* flex-wrap: wrap; */

}

.profilepic {
  width: 120px;
  border-radius: 90px;
}

.profile-details {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 26px;
  font-weight: bold;
  color: var(--lm-text-alt);

}


#username {
  color: var(--btn);
  font-size: 15px;

}

.date {
  font-size: 15px;
}


.bio {
  line-height: 25px;
  opacity: 0.75;
  /* position: absolute; */
  margin-left: 8.5rem;
  margin-top: -4rem;
  /* left:10.9rem; */
  font-size: 16px;

}


.profile-stats-wrapper {
  display: flex;
  justify-content: space-between;
  gap: 100px;
  background-color: var(--lm-bg);
  text-align: center;
  border-radius: 10px;
  padding: 18px;
  width: 520px;
  margin-left: 20%;


}

.stat {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 6px;
}

.stat-title {
  font-size: 14px;
}

.stat-value {
  font-size: 22px;
  font-weight: bold;
  color: var(--lm-text-alt);
}




.profile-bottom-wrapper {
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  gap: 50px;
  margin-left: 20%;
  flex-wrap: wrap;
  margin-top: 4%;
  margin-bottom: 2%;
  /* width: 100%; */

}

.profile-info {
  display: flex;
  gap: 18px;
  word-wrap: break-word;
}

.bottom-icons img {
  width: 18px;
  filter: var(--lm-icon-bg);
}

.profile-info p {
  font-size: 16px;
  /* word-wrap: break-word; */
  overflow-wrap: break-word;


}

#page {
  text-decoration: underline;
  cursor: pointer;
  word-break: break-all;

}

#twitter {
  text-decoration: underline;
  cursor: pointer;
}


.error {
  position: absolute;
  color: red;
  font-weight: bold;
  left: 26rem;
  width: 100%;
  font-size: 16px;
}